


.navbar {
    
    display: flex;
    padding:20px;
    align-items: center;
    top: 0;
    height: 25px;
    width: 100%;
    position: fixed;
    background-color: rgba(95, 95, 95, 0.4);
    backdrop-filter: blur(10px);

}

.navbar nav ul {
    font-size: 24px;
    font-style: normal;
    color: aliceblue;
    list-style: none;
    display: flex;
    gap:50px;

}

.navbar nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}