.navbar {
    
    display: flex;
    padding:20px;
    align-items: center;
    background-color: #DDB892;
    top: 0;
    height: 25px;
    width: 100%;
    position: fixed;

}

.navbar nav ul {
    font-size: 24px;
    font-style: normal;
    color: aliceblue;
    list-style: none;
    display: flex;
    gap:50px;

}

.navbar nav ul a {
    text-decoration: none;
    color: aliceblue;
}